@import "./colors.less";

/** COLORED PANEL **/

.panel {
  .-(@i: length(@colors)) when (@i > 0) {
        @name: extract(@colors, @i);
        &-@{name} {
            border-color: @@name;

            > .panel-heading {
              color: @white;
              background-color: @@name;
              border-color: @@name;

              + .panel-collapse > .panel-body {
                border-top-color: @@name;
              }

              .badge {
                color: @@name;
                background-color: @white;
              }
            }
            .panel-footer + .panel-collapse > .panel-body {
               border-bottom-color: @@name;
            }
        }
        .-((@i - 1));
  } .-;
}